body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.h-left {
    color: #F9FAF8;
    font-size: 24px;
}

.h-right {
    color: #E5E7EB;
    font-size: 18px;
}3

.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.info-text {
    align-self: center;
    text-align: center;
    /*border: solid red; */
    /*width: 100px;*/
}

.info-img {
  border: 4px solid red;
  border-radius: 15px;
  text-align: center;
  width:148px;
  height: auto;
}

.quotes {
    display: flex;
    flex-direction: column;
    padding-left: 475px;
    padding-right: 457px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5E7EB;
}

.the-quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    text-align: right;
    font-weight: bold;
}

.bottom-banner {
    margin: 50px;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 175px;
    border-radius: 15px;
}

.sign-up-header {
    font-weight: bold;
    font-size: 24px;
}

.sign-up-button {
    align-self: center;
}

.sell-out {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 15px;
    padding: 4px 10px;
    color: #F9FAF8;
}

.sell-out:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 20px 0px;
}